
<web-app>
<servlet>
<servlet-name>Search</servlet-name>
<servlet-class>Search</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Search</servlet-name>
<url-pattern>/all</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Update</servlet-name>
<servlet-class>Update</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Update</servlet-name>
<url-pattern>/demo</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Update1</servlet-name>
<servlet-class>Update1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Update1</servlet-name>
<url-pattern>/demo1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Delete</servlet-name>
<servlet-class>Delete</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Delete</servlet-name>
<url-pattern>/demo2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TotalStudent</servlet-name>
<servlet-class>TotalStudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TotalStudent</servlet-name>
<url-pattern>/demo3</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Average</servlet-name>
<servlet-class>Average</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Average</servlet-name>
<url-pattern>/demo4</url-pattern>
</servlet-mapping>
</web-app>